  body {
  background-color: lightblue;
  font-family: Helvetica;
  margin:0;
  padding: 2rem;
  }
  
  #main {
  width: 80%;
  border: 1px gray solid;
  margin: auto;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  }

  label{
  text-align: center;
  padding-bottom: 10px;
  }
.question2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    height: 100vh;
}

  
  #header {
  margin-top: 0;
  border: 2px solid black;
  padding: 5px;
  height: 50px;
  font-size: 1rem;
  }
  
  label {
  width: 150px;
  display: inline-block;
  }
  
  button {
  display: block;
  margin-top: 20px;
  
  }

  .centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
}

.centered-form > div {
  text-align: center;
}
